<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context.xsd">

    <bean id="user" class="com.cywri.spring5_demo.User">
        <property name="userService" ref="userServiceImpl"></property>
    </bean>

    <bean id="userDao" class="com.cywri.spring5_demo.UserDao"></bean>

    <bean id="userServiceImpl" class="com.cywri.spring5_demo.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="emp" class="com.cywri.spring5_demo.bean.Emp">
        <property name="ename" value="Alex"></property>
        <property name="gender" value="male"></property>
        <property name="dept">
            <bean id="dept" class="com.cywri.spring5_demo.bean.Dept">
                <property name="dname" value="保安部"></property>
            </bean>
        </property>
    </bean>

    <bean id="myBean" class="com.cywri.spring5_demo.bean.MyBean"></bean>

    <bean id="order" class="com.cywri.spring5_demo.bean.Order" init-method="initMethod" destroy-method="destroyMethod">
        <property name="oname" value="手机"></property>
    </bean>

    <!--<bean id="beanPost" class="com.cywri.spring5_demo.bean.BeanPost"></bean>-->

    <!--<bean id="beanPost1" class="com.cywri.spring5_demo.bean.BeanPost1"></bean>-->

    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
</beans>